<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  
    <form ng-submit="createNewBlogPost()">
    Title : <input type="text" ng-model="title"><br>
    Content : <textarea ng-model="content"/>
    
      <input type="submit"vakue="submit"/>
      <br>
      <label>Search: <input ng-model="searchTerm"></label>
      <div ng-show="error">
        {{error}}
      </div>
      <div ng-hide="error">
        <ul ng-repeat="blogpost in blogs| filter:searchTerm">
          <li>{{blogpost.title}} {{blogpost.content}}</li>
        </ul>
      </div>
    </form>
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
